
::ng-deep .config-form-card .p-card .p-card-body {
    background: var(--p-primary-color);
    color: var(--p-primary-contrast-color);
    width: 50vw;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


::ng-deep .p-panel {
    width: 50em;
    display: flex;
    justify-self: unset;
    justify-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-field {
    padding: 20px
}

::ng-deep .keyboard-shortcuts .p-fieldset, 
::ng-deep .keyboard-shortcuts .p-fieldset legend, 
::ng-deep .p-field {
    padding: 0;
    background-color: var(--p-primary-color);
    color: var(--p-primary-contrast-color);
}

button {
    margin-top: 10px;
}

span {
    color: red;
    font-size: 0.75em;
}
