<h2>App Configuration</h2>

<form [formGroup]="configForm" (ngSubmit)="saveConfig()">
    <div>
        <label for="maxItems">Max Items to Store:</label>
        <input type="number" id="maxItems" formControlName="maxItems" />
        <div *ngIf="configForm.get('maxItems')?.invalid && configForm.get('maxItems')?.touched">
            <span *ngIf="configForm.get('maxItems')?.errors?.['required']">Max Items is required.</span>
            <span *ngIf="configForm.get('maxItems')?.errors?.['min']">Max Items must be at least 1.</span>
        </div>
    </div>

    <div>
        <label for="openShortcut">Open menu Keyboard Shortcut:</label>
        <input type="text" id="openShortcut" formControlName="openShortcut" />
        <div *ngIf="configForm.get('openShortcut')?.invalid && configForm.get('openShortcut')?.touched">
            <span *ngIf="configForm.get('openShortcut')?.errors?.['required']">Keyboard Shortcut is required.</span>
        </div>
    </div>

    <div>
        <label for="bookmarkShortcut">Save Bookmark Keyboard Shortcut:</label>
        <input type="text" id="bookmarkShortcut" formControlName="bookmarkShortcut" />
        <div *ngIf="configForm.get('bookmarkShortcut')?.invalid && configForm.get('bookmarkShortcut')?.touched">
            <span *ngIf="configForm.get('bookmarkShortcut')?.errors?.['required']">Keyboard Shortcut is required.</span>
        </div>
    </div>

    <div>
        <label for="startMinimized">Start Minimized:</label>
        <input type="checkbox" id="startMinimized" formControlName="startMinimized" />
    </div>

    <button type="submit" [disabled]="!configForm.valid">Save Settings</button>
</form>

<app-bookmark-list></app-bookmark-list>